.ui.centered.grid.container
    .row
        .column
            a(ui-sref="items")
                i.black.large.left.arrow.icon

    .row
        .six.wide.column
            au-item-card(item="vm.item", view-mode="detail")
        .six.wide.column

            .ui.grid.field
                .eight.wide.column
                    .ui.left.icon.input
                        input(type="text", placeholder="Say something..")
                        i.comment.icon
                .eight.wide.column
                    button.ui.green.basic.button(ng-click="vm.placeBid()", ng-class="vm.allowPlaceBid() ? '' : 'disabled'")
                        | Place a Bid

            h4.ui.horizontal.divider.header
                i.comments.icon
                | {{vm.item.bidders.length}} {{vm.item.bidders.length > 1 ? 'Bids' : 'Bid'}}

            .ui.large.feed
                .event(ng-repeat="bidder in vm.item.bidders")
                    .label
                        i.teal.comment.icon(ng-if="!$first")
                        i.violet.trophy.icon(ng-if="$first")
                    .content
                        .summary
                            span(ng-if="bidder.id !== vm.currentUserId") {{bidder.name}}
                            span(ng-if="bidder.id === vm.currentUserId") You
                            |  placed a bid at
                            .date {{bidder.createdAt | date : 'yyyy/MM/dd HH:mm'}}