.ui.one.column.grid
    .right.aligned.column
        .ui.left.icon.action.input
            i.search.icon
            input(type="text", placeholder="Search...", ng-model="vm.search")
            button.ui.blue.submit.button Search
    .column
        .ui.cards
            au-item-card(item="item", ng-repeat="item in vm.items | filter : vm.search", view-mode="overview")